*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img, picture, video, canvas, svg, i {
  display: block;
  max-width: 100%;
  -webkit-user-drag: none;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p, h1, h2, h3, h4, h5, h6, li, a {
  --shadow: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px var(--shadow);
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}